.bg-css {
    background: url(../imagens/paisagem.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    opacity: 0.9;
}

.bg-new {
    font-style: italic;
    color: #d900ff;
    font-size: 150px;
    font-weight: 700;
    text-align: center;
    margin-top: 20vh;
    z-index: 5;
}

.h2 {
    animation: bounce;
    animation-duration: 1s;
}